body {background-color: hwb(0 0% 100%);}
h1   {color: #ff0000;}
h2   {color: #ff0000;}
p    {color: #ff5100;}
u    {color: lab(96.1% -19.65 93.73);}
ul   {color: aqua;}
h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
img
{
    width: 350px;
    height: 350px;
    display:block;
    margin:auto;
}
title {color: aqua;}
.informatica{
  width: 375px;
  height: 375px;
  border: 10px solid red;
  padding: 40px;
  margin: 20px auto 0;
  background-color: #000000;
}
.debian
{
  border: 10px solid #ff0000;
  background-color: #ff5100;
  width: 375px;
  height: 350px; 
  text-align: center;
  margin:auto;
}
.ubuntu
{
  display: grid;
  place-items: center;                  /* Centra horizontal y verticalmente */
  height: 200px;                            /* Ejemplo: Establece una altura para el contenedor */
}