body {
  margin: 20px;   
}        
h1 {
  font-family: impact ; 
  font-size: 25px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 2px solid #000000; 
  display: flex;    
  background-color: hsl(120, 100%, 50%);
  justify-content: center;
  width: 300px;
  margin: auto;
}
form {
  width: 300px;    
  margin: 0 auto;  
  padding: 20px;   
  border: 1px solid #ccc; 
}

button {
  padding: 10px 15px; 
  background-color: #00ff08; 
  color: rgb(0, 0, 0);             
  border-radius: 5px;  
  display: flex;
  justify-content: center;
  margin: auto

}
textarea{
  padding: 10px 15px; 
  border-radius: 5px;  
  display: flex;
  justify-content: center;
  margin: auto

}
p{
    font-family: 'Times New Roman' ;
    font-size: 20px;
}