body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    display: flex;
    align-items: center;
}

header img {
    height: 80px; 
    width: 130px;
}

header h1 {
    margin: auto;
}

nav li  {
    display: inline;
    padding: 15px;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #0779e4;
    font-weight: bold;
}

section {
    padding: 20px;
    background: #fff;
}

section h2 {
    color: #0779e4;
    text-align: center;
}

.actividades ul {
    list-style: disc;
    margin-left: 20px;
}

.actividades img {
    display: block;
    width: 540px;
    height: 360px;
    margin: 20px auto;
}

.precios ul,
form ul {
    list-style: none;
    padding: 0;
}

.precios li {
    background: #e9e9e9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #0779e4;
}

.Galería {
    text-align: center;
}

.Galería img {
    width: 30%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.Galería img:hover {
    transform: scale(1.05);
}

form li {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form select,
form input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="radio"] {
    margin-right: 5px;
}

.contacto img {
    vertical-align: middle;
    margin-right: 5px;
}

/* ---- Componentes y Pie de Página ---- */
.boton {
    text-align: center;
    margin-top: 20px;
}

.boton button {
    background: #0779e4;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.boton button:hover {
    background: #055bb5;
}

footer {
    text-align: center;
    margin: auto;
    padding: 20px;
    background: #333;
    color: #fff;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        display: block;
        padding: 5px 0;
    }
    .Galería img {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .Galería img {
        width: 90%;
    }
    form input[type="text"],
    form select,
    form input[type="file"] {
        width: calc(100% - 20px);
    }
}